# Dependencies
node_modules/
venv/
.venv/
__pycache__/
.streamlit/
*.pyc
*.pyo
*.pyd
.Python
env/
requirements_lock.txt
pyvenv.cfg
.uv/

# Build and Distribution
dist/
build/
*.egg-info/
*.egg
nosetests.xml
coverage.xml
*.cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environment and Config
.env
.flaskenv
.streamlit/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Project Specific
reports/*
!reports/.gitkeep
repro_timeout*.py
data/
scripts/debug/*
